.app-container {
    
    display: grid;
    grid-template-rows: 2px, 2px, 2px;
    grid-auto-rows: 2px, 2px, 2px;
    grid-template-areas: 
    "block1 block2 block3"
    "block4 block5 block6"
    "block7 block8 block9";
}
.app-blocks {
    background-color: grey;
    height: 5px;
    width: 5px;
    margin: 1px;
    
}
#block1 {
    grid-area: block1;
}
#block2 {
    grid-area: block2;
}
#block3 {
    grid-area: block3;
}
#block4 {
    grid-area: block4;
}
#block5 {
    grid-area: block5;
}
#block6 {
    grid-area: block6;
}
#block7 {
    grid-area: block7;
}
#block8 {
    grid-area: block8;
}
#block9 {
    grid-area: block9;
}