html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    align-content: center;
  }
  .footer-left {
    width: 50%;;
    order: 1;
  }
  .footer-right {
    width: 50%;
    order: 3;
  }