.header-all {
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    text-decoration-style: initial;
    display: flex;
}
.header-about {
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
.header-store {
    font-size: 13px;
    font-family: arial,sans-serif;
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
.header-left {
    margin-top: 20px;
}
.header-right {
    font-family: arial,sans-serif;
    color: #222;
    font-size: 13px;
    white-space: nowrap;
    margin-left: 0!important;
    margin-top: 20px;
    margin-right: 0!important;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    float: right;
    order: 1;
    display: flex;
    flex: 1 1 auto;
    z-index: 987;
    min-width: 181px;
}
.header-right-text {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}