
html body {
    height: 100%;
    margin: 0;
    display: flex;
}
#logo {
    height: 92px;
    width: 272px;
    transition: padding-top 0.4s ease,width 0.4s ease,height 0.4s ease;
    width: auto;
    padding-top: 109px;
}
#logo-account {
    background-size: 32px 32px;
    border: 0;
    border-radius: 50%;
    display: block;
    margin: -1px;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
}

